<div class="col-xs-12 col-sm-12 col-md-3 sidebar">

    <!-- ================================== TOP NAVIGATION ================================== -->
    <div class="side-menu animate-dropdown outer-bottom-xs">
        <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
        <nav class="yamm megamenu-horizontal" role="navigation">
            <ul class="nav">
                {% for category in object_list %}
                <li class="dropdown menu-item">
                    <a href="home.html#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon fa fa-shopping-bag" aria-hidden="true"></i> {{ category.name }}</a>
                    <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <ul class="links list-unstyled">
                                        {% for subcategory in category.subcategory_set.all %}
                                        <li><a href="home.html#"> {{ subcategory.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- /.col -->
                                <div class="col-sm-12 col-md-3">
                                    <ul class="links list-unstyled">
                                        <li><a href="home.html#">Handbags</a></li>
                                        <li><a href="home.html#">Jwellery</a></li>
                                        <li><a href="home.html#">Swimwear </a></li>
                                        <li><a href="home.html#">Tops</a></li>
                                        <li><a href="home.html#">Flats</a></li>
                                        <li><a href="home.html#">Shoes</a></li>
                                        <li><a href="home.html#">Winter Wear</a></li>
                                        <li><a href="home.html#">Night Suits</a></li>
                                    </ul>
                                </div><!-- /.col -->
                                <div class="col-sm-12 col-md-3">
                                    <ul class="links list-unstyled">
                                        <li><a href="home.html#">Toys &amp; Games</a></li>
                                        <li><a href="home.html#">Jeans</a></li>
                                        <li><a href="home.html#">Shirts</a></li>
                                        <li><a href="home.html#">Shoes</a></li>
                                        <li><a href="home.html#">School Bags</a></li>
                                        <li><a href="home.html#">Lunch Box</a></li>
                                        <li><a href="home.html#">Footwear</a></li>
                                        <li><a href="home.html#">Wipes</a></li>
                                    </ul>
                                </div><!-- /.col -->
                                <div class="col-sm-12 col-md-3">
                                    <ul class="links list-unstyled">
                                        <li><a href="home.html#">Sandals </a></li>
                                        <li><a href="home.html#">Shorts</a></li>
                                        <li><a href="home.html#">Dresses</a></li>
                                        <li><a href="home.html#">Jwellery</a></li>
                                        <li><a href="home.html#">Bags</a></li>
                                        <li><a href="home.html#">Night Dress</a></li>
                                        <li><a href="home.html#">Swim Wear</a></li>
                                        <li><a href="home.html#">Toys</a></li>

                                    </ul>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </li><!-- /.yamm-content -->
                    </ul><!-- /.dropdown-menu -->            </li><!-- /.menu-item -->
                {% endfor %}
            </ul><!-- /.nav -->
        </nav><!-- /.megamenu-horizontal -->
    </div><!-- /.side-menu -->

    <!-- ============================================== SPECIAL OFFER ============================================== -->

    <div class="sidebar-widget outer-bottom-small wow fadeInUp">
        <h3 class="section-title">Special Offer</h3>
        <div class="sidebar-widget-body outer-top-xs">
            <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p30.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p29.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p28.jpg" alt="">

                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p27.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p26.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->

                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p25.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p24.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p23.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->
                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p22.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== SPECIAL OFFER : END ============================================== -->
    <!-- ============================================== PRODUCT TAGS ============================================== -->
    <div class="sidebar-widget product-tag wow fadeInUp">
        <h3 class="section-title">Product tags</h3>
        <div class="sidebar-widget-body outer-top-xs">
            <div class="tag-list">
                <a class="item" title="Phone" href="category.html">Phone</a>
                <a class="item active" title="Vest" href="category.html">Vest</a>
                <a class="item" title="Smartphone" href="category.html">Smartphone</a>
                <a class="item" title="Furniture" href="category.html">Furniture</a>
                <a class="item" title="T-shirt" href="category.html">T-shirt</a>
                <a class="item" title="Sweatpants" href="category.html">Sweatpants</a>
                <a class="item" title="Sneaker" href="category.html">Sneaker</a>
                <a class="item" title="Toys" href="category.html">Toys</a>
                <a class="item" title="Rose" href="category.html">Rose</a>
            </div><!-- /.tag-list -->
        </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== PRODUCT TAGS : END ============================================== -->
    <!-- ============================================== SPECIAL DEALS ============================================== -->

    <div class="sidebar-widget outer-bottom-small wow fadeInUp">
        <h3 class="section-title">Special Deals</h3>
        <div class="sidebar-widget-body outer-top-xs">
            <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p28.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p15.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img data-echo="../static/images/products/p26.jpg"
                                                         alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p18.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p17.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p16.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->
                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="products special-product">
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img data-echo="../static/images/products/p15.jpg"
                                                         alt="">
                                                    <div class="zoom-overlay"></div>
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p14.jpg" alt="">
                                                    <div class="zoom-overlay"></div>
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                        <div class="product">
                            <div class="product-micro">
                                <div class="row product-micro-row">
                                    <div class="col col-xs-5">
                                        <div class="product-image">
                                            <div class="image">
                                                <a href="home.html#">
                                                    <img src="../static/images/products/p13.jpg" alt="">
                                                </a>
                                            </div><!-- /.image -->


                                        </div><!-- /.product-image -->
                                    </div><!-- /.col -->
                                    <div class="col col-xs-7">
                                        <div class="product-info">
                                            <h3 class="name"><a href="home.html#">Floral Print Shirt</a>
                                            </h3>
                                            <div class="rating rateit-small"></div>
                                            <div class="product-price">
				<span class="price">
					$450.99				</span>

                                            </div><!-- /.product-price -->

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.product-micro-row -->
                            </div><!-- /.product-micro -->

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== SPECIAL DEALS : END ============================================== -->
    <!-- ============================================== NEWSLETTER ============================================== -->
    <div class="sidebar-widget newsletter wow fadeInUp outer-bottom-small">
        <h3 class="section-title">Newsletters</h3>
        <div class="sidebar-widget-body outer-top-xs">
            <p>Sign Up for Our Newsletter!</p>
            <form role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"
                           placeholder="Subscribe to our newsletter">
                </div>
                <button class="btn btn-primary">Subscribe</button>
            </form>
        </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== NEWSLETTER: END ============================================== -->

</div><!-- /.sidemenu-holder -->
